{% extends 'base.html' %}
{% load static %}
{% block title %} Asosiy sahifa {% endblock title %}
{% block content %}
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <section id="introblocks">
      <ul class="nospace group">
        {% for task in tasks%}
          <li class="one_third">
            <figure><a class="imgover" href="#"><img src="{{ task.image.url }}" alt=""></a>
              <figcaption>
                <h6 class="heading">{{ task.title }}</h6>
                <p>{{ task.text }}</p>
              </figcaption>
            </figure>
          </li>
        {% endfor %}

      </ul>
    </section>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">Mollis eu commodo eu dui quisque</p>
      <h6 class="heading">Ut ipsum vivamus tincidunt</h6>
    </div>
    <ul class="nospace group center">
      <li class="one_third first">
        <article><a href="#"><i class="fas fa-eraser fa-5x btmspace-50"></i></a>
          <h6 class="heading">Tincidunt enim etiam</h6>
          <p class="btmspace-30">Tellus lacus tempor in pharetra id imperdiet sit amet enim suspendisse potenti fusce ornare [&hellip;]</p>
          <footer><a class="btn" href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-chess-bishop fa-5x btmspace-50"></i></a>
          <h6 class="heading">Congue nulla facilisi</h6>
          <p class="btmspace-30">Laoreet ligula phasellus pede phasellus faucibus enim quis lacus praesent ipsum vulputate [&hellip;]</p>
          <footer><a class="btn" href="#">Read More</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-coins fa-5x btmspace-50"></i></a>
          <h6 class="heading">Nunc congue curabitur</h6>
          <p class="btmspace-30">Vitae lacinia eu interdum tempus massa in sodales purus non nisi cras porta lacinia ut [&hellip;]</p>
          <footer><a class="btn" href="#">Read More</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">Id erat duis nibh diam at</p>
      <h6 class="heading">Vulputate quis lacus nullam</h6>
    </div>
    <ul id="stats" class="nospace group">
      <li><i class="fas fa-id-badge"></i>
        <p><a href="#">123</a></p>
        <p>Augue dui convallis</p>
      </li>
      <li><i class="fas fa-skull"></i>
        <p><a href="#">1234</a></p>
        <p>Id ullamcorper</p>
      </li>
      <li><i class="fas fa-umbrella"></i>
        <p><a href="#">12345</a></p>
        <p>Malesuada interdum</p>
      </li>
      <li><i class="fas fa-store-alt"></i>
        <p><a href="#">6789</a></p>
        <p>Tristique viverra</p>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <section id="testimonials" class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">Sayt foydalanuvchilarining</p>
      <h6 class="heading">Sayt haqidagi fikrlari</h6>
    </div>
    <article class="one_half first"><img src="{{ opinion1.image.url }}" alt="">
      <blockquote>{{ opinion1.fikr }}</blockquote>
      <h6 class="heading">{{ opinion1.ism }}</h6>
      <em>{{ opinion1.kasb  }}t</em></article>
    <article class="one_half"><img src="{{ opinion2.image.url }}" alt="">
      <blockquote>{{ opinion2.fikr }}</blockquote>
      <h6 class="heading">{{ opinion2.ism  }}</h6>
      <em>{{ opinion2.kasb }}</em></article>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <p class="nospace font-xs">Nisl sed blandit iaculis lectus</p>
      <h6 class="heading">Nam et erat nec eros elementum</h6>
    </div>
    <ul class="nospace group latest">
      <li class="one_half first">
        <article>
          <div class="excerpt">
            <ul class="nospace meta">
              <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
              <li><i class="fas fa-tag"></i> <a href="#">Category Name</a></li>
            </ul>
            <h6 class="heading">Gravida integer tristique</h6>
            <p>Dui vel odio proin magna ligula pellentesque eu tincidunt sed ornare tempor nisl in id dui vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae donec [<a href="#">&hellip;</a>]</p>
            <footer><a href="#">Read More</a></footer>
          </div>
          <time datetime="2045-04-06T08:15+00:00"><strong>06</strong> <em>Apr</em></time>
        </article>
      </li>
      <li class="one_half">
        <article>
          <div class="excerpt">
            <ul class="nospace meta">
              <li><i class="fas fa-user"></i> <a href="#">Admin</a></li>
              <li><i class="fas fa-tag"></i> <a href="#">Category Name</a></li>
            </ul>
            <h6 class="heading">Eleifend semper nisl sed</h6>
            <p>Eget lorem in in felis in metus mollis blandit ut eu justo suspendisse semper sem sit amet ligula quisque eget felis eu tortor tristique pharetra praesent turpis pede varius sed [<a href="#">&hellip;</a>]</p>
            <footer><a href="#">Read More</a></footer>
          </div>
          <time datetime="2045-04-05T08:15+00:00"><strong>05</strong> <em>Apr</em></time>
        </article>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">View More</a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>


{% endblock content %}